In [ ]:
import pandas as pd
import numpy as np
import csv

In [ ]:
!pip install -U -q PyDrive

from pydrive.auth import GoogleAuth

from pydrive.drive import GoogleDrive

from google.colab import auth

from oauth2client.client import GoogleCredentials

In [ ]:
auth.authenticate_user()

gauth = GoogleAuth()

gauth.credentials = GoogleCredentials.get_application_default()

drive = GoogleDrive(gauth)

In [ ]:
fileDownloaded = drive.CreateFile({'id' :'17N9Q-R4XJtFVyvzSszmNdeYm-Njrybob'})

In [ ]:
fileDownloaded.GetContentFile('observations-255685.csv')

In [29]:
import pandas as pd

df = pd.read_csv('observations-255685.csv')

df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (13,24) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,observed_on_string,observed_on,time_observed_at,time_zone,user_id,user_login,created_at,updated_at,quality_grade,...,taxon_superorder_name,taxon_order_name,taxon_suborder_name,taxon_superfamily_name,taxon_family_name,taxon_subfamily_name,taxon_supertribe_name,taxon_genus_name,taxon_genushybrid_name,taxon_species_name
0,19007,"October 31, 2008 11:01",2008-10-31,2008-10-31 18:01:00 UTC,Pacific Time (US & Canada),873,tapbirds,2011-05-30 07:57:16 UTC,2022-04-13 14:04:22 UTC,research,...,NaN,Squamata,Sauria,NaN,Teiidae,Teiinae,NaN,Aspidoscelis,NaN,Aspidoscelis cozumela
1,19010,"October 28, 2008 11:59",2008-10-28,2008-10-28 18:59:00 UTC,Pacific Time (US & Canada),873,tapbirds,2011-05-30 08:01:47 UTC,2022-07-13 21:56:20 UTC,research,...,NaN,Crocodylia,NaN,NaN,Crocodylidae,NaN,NaN,Crocodylus,NaN,Crocodylus acutus
2,19011,"October 27, 2008 11:15",2008-10-27,2008-10-27 18:15:00 UTC,Pacific Time (US & Canada),873,tapbirds,2011-05-30 08:02:57 UTC,2018-04-24 21:16:49 UTC,research,...,NaN,Squamata,Serpentes,NaN,Colubridae,Natricinae,NaN,Thamnophis,NaN,Thamnophis proximus
3,25640,7/14/2011,2011-07-14,NaN,Arizona,516,msr,2011-07-21 01:37:20 UTC,2017-07-20 00:23:25 UTC,research,...,NaN,Squamata,Sauria,NaN,Iguanidae,NaN,NaN,Dipsosaurus,NaN,Dipsosaurus dorsalis
4,25641,7/14/2011,2011-07-14,NaN,Arizona,516,msr,2011-07-21 01:51:56 UTC,2019-01-08 19:58:14 UTC,research,...,NaN,Squamata,Sauria,NaN,Iguanidae,NaN,NaN,Ctenosaura,NaN,Ctenosaura hemilopha
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157525,131230628,2022-08-17 13:05:09,2022-08-17,2022-08-17 18:05:09 UTC,Mexico City,1900036,salvador58,2022-08-17 18:14:29 UTC,2022-08-17 18:14:35 UTC,needs_id,...,NaN,Squamata,Serpentes,NaN,Colubridae,Colubrinae,NaN,Lampropeltis,NaN,Lampropeltis polyzona
157526,131233678,2022/08/14 1:34 PM,2022-08-14,2022-08-14 18:34:00 UTC,Mexico City,6035541,eduardo1179,2022-08-17 18:36:35 UTC,2022-08-17 18:36:35 UTC,needs_id,...,NaN,Squamata,Serpentes,NaN,Viperidae,Crotalinae,NaN,Crotalus,NaN,Crotalus triseriatus
157527,131234282,2022-07-20 14:19:44,2022-07-20,2022-07-20 19:19:44 UTC,Mexico City,3483283,valeriaugaldee,2022-08-17 18:40:55 UTC,2022-08-17 18:41:31 UTC,needs_id,...,NaN,Squamata,Sauria,NaN,Phrynosomatidae,Sceloporinae,NaN,Sceloporus,NaN,NaN
157528,131234287,2022-08-17 13:39:11,2022-08-17,2022-08-17 18:39:11 UTC,Monterrey,749743,eberchavez,2022-08-17 18:40:58 UTC,2022-08-17 18:59:56 UTC,needs_id,...,NaN,Squamata,Serpentes,NaN,Colubridae,Colubrinae,NaN,Salvadora,NaN,Salvadora grahamiae
157529,131235178,2022-08-13 11:16:24,2022-08-13,2022-08-13 16:16:24 UTC,Mexico City,1472048,martharomo,2022-08-17 18:47:43 UTC,2022-08-17 18:47:50 UTC,needs_id,...,NaN,Squamata,Sauria,NaN,Phrynosomatidae,Sceloporinae,NaN,Sceloporus,NaN,Sceloporus magister